
main{
    text-align:justify;
    margin: auto;
    max-width: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

p{
    font-size: 25px;
}

main li{
    font-size: 25px;
}

body{
    background-image: url("https://www.xtrafondos.com/descargar.php?id=4052&resolucion=3840x2160");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;






}

h1{
    text-align: center;
}

nav li{
    color:white;
    text-decoration: none;
    list-style: none;
}

nav {
    padding: 30px; /* Adiciona 20 pixels de espaço em branco dentro do elemento */
}
  
nav ul {
    list-style: none; /* Remove a lista de marcadores padrão do elemento */
    margin: 0; /* Remove as margens padrão do elemento */
    padding: 0; /* Remove os espaços em branco padrão do elemento */
    display: flex; /* Usa o modelo de caixa flexível para a lista de itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    font-size: 20px;
}
  
nav li {
    margin: 0 30px; /* Adiciona uma margem de 0 pixels acima e abaixo e 30 pixels à esquerda e à direita */
}
  
nav a {
    color: #fff; /* Define a cor do texto como branco */
    text-decoration: none; /* Remove a decoração de texto padrão */
}
